.menu-button {
    -fx-background-color:  #e91e63;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
.menu-button:hover {
    -fx-background-color:#d11b59;
    -fx-cursor: hand;
}

.menu-clicked-button {
    -fx-background-color:  #ba184f;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.profile-text-field {
    -fx-background-color: #680d2c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/*Time slot*/
.join-button{
    -fx-background-color:green;
    -fx-font-size: 13;
}
.join-button:hover{
    -fx-opacity: 0.8;
    -fx-font-size: 13;
    -fx-cursor: hand;
}
.close-button{
    -fx-background-color:black;
    -fx-font-size: 13;
    -fx-text-fill:white;
}
.close-button:hover{
    -fx-opacity: 0.8;
    -fx-font-size: 13;
    -fx-text-fill:white;
    -fx-cursor: hand;
}

.cancel-button{
    -fx-background-color:red;
    -fx-font-size: 13;
}
.cancel-button:hover{
    -fx-opacity: 0.8;
    -fx-font-size: 13;
    -fx-cursor: hand;
}